.swiper-customer {
  padding-bottom: 50px !important;
}

.swiper-customer .swiper-slide.swiper-slide-next {
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
  border-color: var(--primary-color);
}
